body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
