<div class="container">
    <h1><%= quiz.title %></h1>
    <p><%= quiz.description %></p>
    <a href="/quizzes/edit/<%= quiz._id %>" class="btn btn-warning">Edit Quiz</a>
    <a href="/quizzes" class="btn btn-secondary">Back to Quizzes</a>
</div>